# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# /media  # Временно не игнорируем для переноса на Render
/staticfiles
# НЕ игнорируем /static - эта папка должна быть в git!

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Django migrations (optional - раскомментируйте если не хотите коммитить миграции)
# */migrations/*.py
# !*/migrations/__init__.py

# Temporary files
*.tmp
*.bak
*.cache

# OS
Thumbs.db
.DS_Store

# Project specific
*.rar
*.zip
*.xls
*.xlsx
*.docx
*.pdf
Рoligram презентация (1)/
Лицензии обнов.rar

